.btn {
display: flex;
padding: 20px 30px;
color: #303750;
background-color: rgb(175, 239, 255);
border-color: aqua;
margin: 10px;
}

.clean-list {
    display: flex;
        padding: 20px 30px;
        color: #2b0606;
        background-color: rgb(255, 174, 174);
        border-color: rgb(116, 21, 29);
        margin: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
        align-items: center;
}